<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="componentA" name="a,aa, aaa" class="com.javaxxl.ComponentA">
		<description>不可描述</description>
	</bean>
	<bean id="componentB" class="com.javaxxl.ComponentB"/>

	<alias name="componentA" alias="componentA2"/>

	<import resource="spring-test.xml"/>
</beans>