<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="parent" class="com.javaxxl.parent.Parent">
		<property name="name" value="张三"/>
	</bean>

	<bean id="child" class="com.javaxxl.parent.Child" parent="unDefineParent">
		<property name="age" value="10"/>
	</bean>

	<bean id="unDefineParent" abstract="true">
		<property name="name" value="不存在"/>
	</bean>
</beans>